<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
        <key>Label</key>
        <string>com.couchbase.mobile.sync_gateway</string>
        <key>UserName</key>
        <string>${RUNAS_TEMPLATE_VAR}</string>
        <key>WorkingDirectory</key>
        <string>${RUNBASE_TEMPLATE_VAR}</string>
        <key>ProgramArguments</key>
        <array>
            <string>${GATEWAY_TEMPLATE_VAR}</string>
            <string>${CONFIG_TEMPLATE_VAR}</string>
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>StandardOutPath</key>
        <string>${LOGS_TEMPLATE_VAR}/${SERVICE_NAME}_access.log</string> 
        <key>StandardErrorPath</key>
        <string>${LOGS_TEMPLATE_VAR}/${SERVICE_NAME}_error.log</string>
</dict>
</plist>

