*.idea
*.sublime-workspace
**/git_info.go.bak
\#*
*~
.#*
\#*\#
/bin
/pkg
*.exe
*.iml
__pycache__
node_modules/

*.pb.gz
*.walrus

sg_config.json
coverage*.out
coverage*.xml
verbose*.out*
verbose*.xml

sync_gateway
tools/cache_perf_tool/cache_perf_tool
cache_perf_tool
tools/stats-definition-exporter/stats-definition-exporter
stats-definition-exporter

### Couchbase Plugin ###
.cbcache/

planPIndexes/
