*.idea
*.sublime-workspace
*.walrus
**/git_info.go.bak
\#*
*~
.#*
\#*\#
/bin
/pkg
*.exe
*.iml
sg_config.json
coverage*.out
coverage*.xml
verbose*.out*
verbose*.xml
integration.xml
integration_*.xml
rosmar-ee.xml
rosmar-ce.xml
cbcollect.zip
sync_gateway
*.pb.gz
__pycache__
tools/cache_perf_tool/cache_perf_tool
./cache_perf_tool
tools/stats-definition-exporter/stats-definition-exporter
./stats-definition-exporter
# factory.ai
.factory

### Couchbase Plugin ###
.cbcache/

planPIndexes/

couchbase-lite-tests
integration-test/e2e/.gitconfig.e2e

/integration-tester
