[submodule "vendor/src/github.com/couchbaselabs/go-couchbase"]
	path = vendor/src/github.com/couchbaselabs/go-couchbase
	url = https://github.com/couchbaselabs/go-couchbase
[submodule "vendor/src/github.com/couchbaselabs/go.assert"]
	path = vendor/src/github.com/couchbaselabs/go.assert
	url = https://github.com/couchbaselabs/go.assert
[submodule "vendor/src/github.com/couchbaselabs/walrus"]
	path = vendor/src/github.com/couchbaselabs/walrus
	url = https://github.com/couchbaselabs/walrus
[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/src/github.com/robertkrimen/otto"]
	path = vendor/src/github.com/robertkrimen/otto
	url = https://github.com/robertkrimen/otto
[submodule "vendor/src/github.com/dustin/gomemcached"]
       path = vendor/src/github.com/dustin/gomemcached
       url = https://github.com/dustin/gomemcached
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "vendor/src/github.com/tleyden/fakehttp"]
	path = vendor/src/github.com/tleyden/fakehttp
	url = https://github.com/tleyden/fakehttp.git
[submodule "utils"]
	path = utils
	url = https://github.com/couchbaselabs/sync_gateway_admin_ui.git
[submodule "vendor/src/github.com/samuel/go-metrics"]
	path = vendor/src/github.com/samuel/go-metrics
	url = https://github.com/samuel/go-metrics
[submodule "vendor/src/github.com/couchbaselabs/sync_gateway_admin_ui"]
	path = vendor/src/github.com/couchbaselabs/sync_gateway_admin_ui
	url = https://github.com/couchbaselabs/sync_gateway_admin_ui.git
[submodule "vendor/src/github.com/couchbase/gomemcached"]
	path = vendor/src/github.com/couchbase/gomemcached
	url = https://github.com/couchbase/gomemcached
[submodule "vendor/src/github.com/couchbaselabs/retriever"]
	path = vendor/src/github.com/couchbaselabs/retriever
	url = https://github.com/couchbaselabs/retriever
[submodule "vendor/src/github.com/natefinch/npipe"]
	path = vendor/src/github.com/natefinch/npipe
	url = https://github.com/natefinch/npipe
