# Copyright 2022-Present Couchbase, Inc.
#
# Use of this software is governed by the Business Source License included
# in the file licenses/BSL-Couchbase.txt.  As of the Change Date specified
# in that file, in accordance with the Business Source License, use of this
# software will be governed by the Apache License, Version 2.0, included in
# the file licenses/APL2.txt.
get:
  summary: Get database audit configuration
  description: |-
    Retrieve the audit configuration for the database specified.

    Required Sync Gateway RBAC roles:

    * Sync Gateway Architect
  parameters:
    - name: verbose
      in: query
      description: Whether to show name and description with each audit event.
      schema:
        type: boolean
        default: false
    - name: filterable
      in: query
      description: Whether to show only filterable audit events.
      schema:
        type: boolean
        default: false
  responses:
    '200':
      description: Successfully retrieved database configuration
      content:
        application/json:
          schema:
            oneOf:
              - $ref: ../../components/schemas.yaml#/Database-audit
              - $ref: ../../components/schemas.yaml#/Database-audit-verbose
    '403':
      $ref: ../../components/responses.yaml#/Unauthorized-database
  tags:
    - Database Configuration
  operationId: get_db-_config-audit
put:
  summary: Replace database audit configuration
  description: |-
    Replaces the database audit configuration with the one sent in the request.

    Unspecified audit events will be reset to their default enabled value. Use POST if you want upsert-style semantics.

    Required Sync Gateway RBAC roles:

    * Sync Gateway Architect
  requestBody:
    description: The new database audit configuration to use
    content:
      application/json:
        schema:
          oneOf:
            - $ref: ../../components/schemas.yaml#/Database-audit
            - $ref: ../../components/schemas.yaml#/Database-audit-verbose
  responses:
    '200':
      description: Database audit configuration successfully updated
    '400':
      $ref: ../../components/responses.yaml#/request-problem
    '403':
      $ref: ../../components/responses.yaml#/Unauthorized-database
  tags:
    - Database Configuration
  operationId: put_db-_config-audit
post:
  summary: Update database audit configuration
  description: |-
    This is used to update the database configuration fields specified. Only the fields specified in the request will have their values replaced.

    Unspecified audit events will be unaffected. Use PUT if you want to reset events to their default state.

    Required Sync Gateway RBAC roles:

    * Sync Gateway Architect
  parameters:
    - name: verbose
      in: query
      description: Whether to show name and description with each audit event.
      schema:
        type: boolean
        default: false
  requestBody:
    description: The database configuration fields to update
    content:
      application/json:
        schema:
          oneOf:
            - $ref: ../../components/schemas.yaml#/Database-audit
            - $ref: ../../components/schemas.yaml#/Database-audit-verbose
  responses:
    '200':
      description: Database audit configuration successfully updated
    '400':
      $ref: ../../components/responses.yaml#/request-problem
    '403':
      $ref: ../../components/responses.yaml#/Unauthorized-database
  tags:
    - Database Configuration
  operationId: post_db-_config-audit
parameters:
  - $ref: ../../components/parameters.yaml#/db
