# Copyright 2021-Present Couchbase, Inc.
#
# Use of this software is governed by the Business Source License included in
# the file licenses/BSL-Couchbase.txt.  As of the Change Date specified in that
# file, in accordance with the Business Source License, use of this software
# will be governed by the Apache License, Version 2.0, included in the file
# licenses/APL2.txt.

name: ci

on:
  pull_request:
    branches:
      - 'master'
      - 'release/*'

jobs:
  run-bootstrap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/godeps
          key: sgw-bootstrap-cache-${{ github.event.pull_request.head.sha }}
      - name: Bootstrap
        run: |
          wget https://raw.githubusercontent.com/couchbase/sync_gateway/master/bootstrap.sh
          chmod +x bootstrap.sh
          ./bootstrap.sh -c ${{ github.event.pull_request.head.sha }}

  static-analysis:
    needs: run-bootstrap
    env:
      GO111MODULE: off
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/godeps
          key: sgw-bootstrap-cache-${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.6
      - name: Set GOPATH
        run: echo "GOPATH=$GITHUB_WORKSPACE/godeps" >> $GITHUB_ENV
      - name: build
        run: go build -v github.com/couchbase/sync_gateway
      - name: gofmt
        run: |
          gofmt -d -e ${GOPATH}/src/github.com/couchbase/sync_gateway | tee gofmt.out
          test -z "$(cat gofmt.out)"
      - name: vet
        run: go vet github.com/couchbase/sync_gateway/...

  test:
    needs: run-bootstrap
    env:
      GO111MODULE: off
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            set-gopath: echo "GOPATH=$GITHUB_WORKSPACE/godeps" >> $GITHUB_ENV
          - os: macos-latest
            set-gopath: echo "GOPATH=$GITHUB_WORKSPACE/godeps" >> $GITHUB_ENV
          - os: windows-latest
            set-gopath: echo "GOPATH=$Env:GITHUB_WORKSPACE\godeps" >> $Env:GITHUB_ENV
    name: test (${{ matrix.os }})
    steps:
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/godeps
          key: sgw-bootstrap-cache-${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.6
      - name: Set GOPATH
        run: ${{ matrix.set-gopath }}
      - name: 'test'
        run: go test -timeout=30m -count=1 -v github.com/couchbase/sync_gateway/...

  test-race:
    needs: run-bootstrap
    env:
      GO111MODULE: off
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/cache@v1
        with:
          path: ${{ github.workspace }}/godeps
          key: sgw-bootstrap-cache-${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.6
      - name: Set GOPATH
        run: echo "GOPATH=$GITHUB_WORKSPACE/godeps" >> $GITHUB_ENV
      - name: 'test -race'
        run: go test -race -timeout=30m -count=1 -v github.com/couchbase/sync_gateway/...
